# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/

# Local secrets
.env.local
test.ipynb
d2.html
d3.html
design.html